body { font-family:sans-serif; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #5866C3), color-stop(1.0, #16143C));
    color: white; 
    margin: 0px;
    padding: 0px;
}

.valediction { text-align: right; }
div.content {	
    background-image: url('./Background.png');
    min-height: 100%;
    padding: 10px 10px 15px 10px;
    margin: 0px;
}

div.main { padding: 15px;  background-color: rgba(0, 0, 0, 0.7); }
h2 { margin-top: 0px; border-bottom: 2px solid #505cb3; }
h2 span { font-weight: normal; }
table.alternating { border: 1px solid black; -webkit-border-radius: 12px; background-color: white; border-spacing: 0px; }
table.alternating tr td, table.alternating tr th { padding: 8px; vertical-align: top; }
table.alternating tr:nth-child(even) td { background-color: #C9CEED; }
table.alternating tr th { background-color: #505cb3; color: white; }
table.alternating tr:first-child th { -webkit-border-top-left-radius: 12px; -webkit-border-top-right-radius: 12px; }
table.schedule tr td:nth-child(even) { text-align: right; white-space: nowrap; }
table.schedule { width: 100%; }
.floatRight { float: right; font-size: large; }
.callout { border: 1px solid #505cb3; padding: 5px; }
.callout h3 { margin-top: 0px; }
.dealerListing span { display: block; text-align: right; font-size: small; font-weight: bold; }
.dealerListing { margin-bottom: 5px; border-bottom: solid 1px #505CB3; }